# Preparación de Datos

Importar las librerías.

In [151]:
import pandas as pd
import numpy as np

Leer los datos desde un csv y transformamos a utf8.

In [152]:
df = pd.read_csv("unclean_data1.csv")
df = pd.read_csv("unclean_data1.csv",encoding='utf8')

Realizo una prueba para corroborar que los datos hayan sido leídos correctamente.

In [153]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

Visualizo los primeros 5 datos de la tabla.

In [154]:
df.head()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN

Posteriormente veo los últimos 5 datos de la tabla.

In [155]:
df.tail()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

Para seguir estudiando la tabla, también obtengo el nombre de cada una de sus columnas.

In [156]:
df.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

Cambiaremos el nombre de las columnas a español.

In [157]:
df = df.rename(columns = {'movie_title':'titulo_pelicula', 'num_critic_for_reviews':'numero_criticas', 'duration':'duracion', 'DIRECTOR_facebook_likes':'likes_en_fb_DIRECTOR', 'actor_3_facebook_likes':'likes_en_fb_ACTOR_3', 'ACTOR_1_facebook_likes':'likes_en_fb_ACTOR_1', 'gross':'ganancia', 'num_voted_users':'num_usuarios_votados', 'Cast_Total_facebook_likes':'likes_en_fb_CAST_TOTAL', 'facenumber_in_poster':'num_face_en_poster', 'num_user_for_reviews':'num_usuarios_para_revision', 'budget':'presupuesto', 'title_year':'anio', 'ACTOR_2_facebook_likes':'likes_en_fb_ACTOR_2', 'imdb_score':'puntuacion_imdb', 'title_year.1':'anio.1'})
df.columns

Index(['titulo_pelicula', 'numero_criticas', 'duracion',
       'likes_en_fb_DIRECTOR', 'likes_en_fb_ACTOR_3', 'likes_en_fb_ACTOR_1',
       'ganancia', 'num_usuarios_votados', 'likes_en_fb_CAST_TOTAL',
       'num_face_en_poster', 'num_usuarios_para_revision', 'presupuesto',
       'anio', 'likes_en_fb_ACTOR_2', 'puntuacion_imdb', 'anio.1'],
      dtype='object')

Como queremos trabajar solo con los likes en facebook del director, dejaremos esas columnas junto con el nombre de las películas para referenciarla.

In [158]:
df = df.drop(['numero_criticas', 'likes_en_fb_ACTOR_1', 'likes_en_fb_ACTOR_3', 'likes_en_fb_CAST_TOTAL', 'likes_en_fb_ACTOR_2', 'duracion', 'ganancia', 'num_usuarios_votados', 'num_face_en_poster', 'num_usuarios_para_revision', 'presupuesto', 'anio', 'puntuacion_imdb', 'anio.1'],axis = 1 )

In [159]:
df.isnull().sum()

titulo_pelicula         0
likes_en_fb_DIRECTOR    2
dtype: int64

In [160]:
df.dtypes

titulo_pelicula         object
likes_en_fb_DIRECTOR    object
dtype: object

Intentaré cambiart todas las columnas a enteros ya que no se pueden medios likes.

In [161]:
df['likes_en_fb_DIRECTOR'] = df['likes_en_fb_DIRECTOR'].astype('Int64')

TypeError: object cannot be converted to an IntegerDtype

Como vemos no es posible convertirlo debido a que hay un elemento que no es numérico por lo que en una base de datos enorme no podríamos revisarlo, lo volveremos nulo y seguiremos casteando a int.

In [162]:
df['likes_en_fb_DIRECTOR'] = pd.to_numeric(df['likes_en_fb_DIRECTOR'], errors='coerce')
df['likes_en_fb_DIRECTOR'] = df['likes_en_fb_DIRECTOR'].astype('Int64')

Corroboramos que haya funcionado...

In [163]:
df.dtypes

titulo_pelicula         object
likes_en_fb_DIRECTOR     Int64
dtype: object

In [164]:
df

                                 titulo_pelicula  likes_en_fb_DIRECTOR
0                                       Avatar?ÿ                    10
1     Pirates of the Caribbean: At World's End?ÿ                   563
2                                      Spectre?ÿ                    20
3                        The Dark Knight Rises?ÿ                 22000
4                                  John Carter?ÿ                   NaN
5                                 Spider-Man 3?ÿ                    23
6                                      Tangled?ÿ                    15
7                      Avengers: Age of Ultron?ÿ                    10
8                      Avengers: Age of Ultron?ÿ                    10
9       Harry Potter and the Half-Blood Prince?ÿ                   282
10          Batman v Superman: Dawn of Justice?ÿ                   NaN
11                            Superman Returns?ÿ                   NaN
12                           Quantum of Solace?ÿ                   395
13  Pirates of the Caribbean: Dead Man's Chest?ÿ                   563

Ahora hay algo que me llama la atención y es Avengers: Age of Ultron que se encuentra duplicado, o no? lo veremos con el siguiente comando:

In [165]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
dtype: bool

Como hemos visto, se encuentra duplicado por lo que pasaremos a eliminar su duplicado.

In [166]:
df = df.drop_duplicates()
df

                                 titulo_pelicula  likes_en_fb_DIRECTOR
0                                       Avatar?ÿ                    10
1     Pirates of the Caribbean: At World's End?ÿ                   563
2                                      Spectre?ÿ                    20
3                        The Dark Knight Rises?ÿ                 22000
4                                  John Carter?ÿ                   NaN
5                                 Spider-Man 3?ÿ                    23
6                                      Tangled?ÿ                    15
7                      Avengers: Age of Ultron?ÿ                    10
9       Harry Potter and the Half-Blood Prince?ÿ                   282
10          Batman v Superman: Dawn of Justice?ÿ                   NaN
11                            Superman Returns?ÿ                   NaN
12                           Quantum of Solace?ÿ                   395
13  Pirates of the Caribbean: Dead Man's Chest?ÿ                   563

Ahora ordenamos de mayor a nulo los datos.

In [169]:
df = df.sort_values(by=['likes_en_fb_DIRECTOR'], ascending=[False])
df

                                 titulo_pelicula  likes_en_fb_DIRECTOR
3                        The Dark Knight Rises?ÿ                 22000
1     Pirates of the Caribbean: At World's End?ÿ                   563
13  Pirates of the Caribbean: Dead Man's Chest?ÿ                   563
12                           Quantum of Solace?ÿ                   395
9       Harry Potter and the Half-Blood Prince?ÿ                   282
5                                 Spider-Man 3?ÿ                    23
2                                      Spectre?ÿ                    20
6                                      Tangled?ÿ                    15
0                                       Avatar?ÿ                    10
7                      Avengers: Age of Ultron?ÿ                    10
4                                  John Carter?ÿ                   NaN
10          Batman v Superman: Dawn of Justice?ÿ                   NaN
11                            Superman Returns?ÿ                   NaN

Ya vimos ordenados los datos e incluso vimos que el dato 8 era duplicado por lo que haremos un ciclo para determinar a donde va cada fila. Ordenaremos por Miles, Cientos, Algunos y Nulos likes.

In [177]:
clase_miles = object
clase_cientos = object
clase_pocos = object
clase_nulos = object
i=0

In [179]:
while i<=len(df):
    if i!=8:
        if df.loc[i, 'likes_en_fb_DIRECTOR'] > 999:
            clase_miles = df[df['likes_en_fb_DIRECTOR']=='clase_miles']
        elif df.loc[i, 'likes_en_fb_DIRECTOR'] > 99 and df.loc[i, 'likes_en_fb_DIRECTOR'] <= 999 :
            clase_cientos = df[df['likes_en_fb_DIRECTOR']=='clase_cientos']
        elif df.loc[i, 'likes_en_fb_DIRECTOR'] <= 99:
            clase_pocos = df[df['likes_en_fb_DIRECTOR']=='clase_pocos']
        else:
            clase_nulos = df[df['likes_en_fb_DIRECTOR']=='clase_nulos']
    i += 1

TypeError: 'bool' object does not support item assignment